.main {
  background-color: #303030;
  color: whitesmoke;
  /* background-image: url("../images/background1.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

#myname {
  font-weight: 800;
  font-size: 75pt;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav-custom {
  color: black !important;
}

.custom-row {
  display: flex;
  height: 100vh;
}

.custom-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#custom-col1 {
  background-color: #303030;
  width: 300px;
  border: 5px solid #303030;
  padding: 40px;
  margin: 0px;
}

.work-img {
  height: 100%;
  width: 100%;
  opacity: 0.5;
  border: 0px;
  /* background-color: grey; */
}

.card-img-top {
  color: black;
  background-color: blue;
}

.card-text {
  color: black;
}

.column-me {
  text-align: center;
  width: 300px;
  border: 0px solid gray;
  padding: 10px;
  margin: 0px;
}
/* .card-text{
  width: 400px;
  height: 200px;
  background: red;
  transition: width 0.5s;
}

card-text:hover {
  width: 50px;
} */

.column-me {
  float: left;
  width: 33.33%;
  padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column-me {
    width: 100%;
  }
}

.contact-info {
  color: white;
}
 #contact {
  width: 100%;
  border: 1px solid #303030;
  padding: 25px;
  margin: 0px;
 }